Exploration of Car Advertisments in US

I will be demonstrating my software engineering skills by pairing them with my data skill set. First, I will take the car sales advertisements data set and perform an exploratory data analysis to allow me to be introduced to the data as well as to refine it. From there, I will develop and deploy a web application to a cloud service so that the information is accessible to the public in an easy to view way.

In [473]:
pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [453]:
import streamlit as st
import pandas as pd
import plotly.express as px
import altair as alt

Had some trouble louding the data, so I found the current working directory to find the files location.

I found the working directory and changed the pathfile to make the data accessible. Now I will load the data and explore its contents.

In [454]:
# Step 1: Load the Data
df = pd.read_csv('vehicles_us.csv')

In [455]:
# Step 2: Explore the Data
display(df.head())  # Preview the first few rows

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [456]:
display(df.info())  # Get a summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

None

In [457]:
display(df.describe())  # Get descriptive statistics

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

Now that I have seen the data, I will be refining it to make it easier to use and read.

In [458]:
# Step 3: Handle Missing Values
display(df.isnull().sum())  # Check for missing values

#Fill missing values with 0 to symbolize 2wd
df['is_4wd'] = df['is_4wd'].fillna(0)
#Drop rows with missing model_year
df = df.dropna(subset=['model_year'])

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [459]:
# Step 4: Remove Duplicates
df.drop_duplicates(inplace=True)

In [460]:
# Step 5: Standardize Column Names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [461]:
# Step 6: Convert Data Types
# Example: Convert a column to integar
df['model_year'] = df['model_year'].astype('int64')
df['days_listed'] = df['days_listed'].astype('int64')

In [ ]:
# Check the initial data types
st.write("Initial Data Types:")
st.write(df.dtypes)

# Convert 'price' to numeric, forcing errors to NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

df['price'] = pd.to_numeric(df['price'], errors='coerce')  # Convert to numeric, set errors to NaN
df.dropna(subset=['price'], inplace=True)  # Drop rows with NaN in 'price'

# Drop rows where the price is 1
df = df[df['price'] != 1]

# Display the cleaned DataFrame
st.write("DataFrame after dropping rows with price of 1:")
st.dataframe(df)

# Optionally, convert 'price' to int if you want it as an integer
df['price'] = df['price'].astype(int)

# Check the data types after cleaning
st.write("Data Types After Cleaning:")
st.write(df.dtypes)

# Display the cleaned DataFrame
st.write("Cleaned DataFrame:")
st.dataframe(df)

In [463]:
#check to see Data Types are correct
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 47906 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         47906 non-null  int32
 1   model_year    47906 non-null  int64
 2   model         47906 non-null  object
 3   condition     47906 non-null  object
 4   cylinders     43009 non-null  float64
 5   fuel          47906 non-null  object
 6   odometer      40563 non-null  float64
 7   transmission  47906 non-null  object
 8   type          47906 non-null  object
 9   paint_color   39291 non-null  object
 10  is_4wd        47906 non-null  float64
 11  date_posted   47906 non-null  object
 12  days_listed   47906 non-null  int64
dtypes: float64(3), int32(1), int64(2), object(7)
memory usage: 4.9+ MB

None

In [464]:
display(df.describe())

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,47906.000000,47906.000000,43009.000000,40563.000000,47906.000000,47906.000000
mean,12160.465203,2009.750470,6.126276,115425.444099,0.496055,39.564835
std,10082.453773,6.282065,1.659540,65219.802462,0.499990,28.201967
min,1.000000,1908.000000,3.000000,0.000000,0.000000,0.000000
25%,5000.000000,2006.000000,4.000000,70000.000000,0.000000,19.000000
50%,9000.000000,2011.000000,6.000000,113000.000000,0.000000,33.000000
75%,16900.000000,2014.000000,8.000000,155000.000000,1.000000,53.000000
max,375000.000000,2019.000000,12.000000,990000.000000,1.000000,271.000000

Typically for step 7, I would look to delete outliers here but with this dataframe I feel it is not necessary since each category seems to fall in line with the norm.

Here for step 8, I looked for any irrelevant columns to drop. 
Upon review and knowing there is further research to dive in to, 
I did not see any columns that will hender the research 
and do not want to drop any in case it proves handy during the charting and graphing section.

In [465]:
# Step 9: Save the Cleaned Data
df.to_csv('cleaned_vehicles_us.csv', index=False)

Now reviewing data to make sure it is clean and ready to use:

In [466]:
# Step 10: Review Final Product to Ensure Data is Clean and Ready for Translation
display(df.head())  # Preview the first few rows

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,0.0,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
5,14990,2014,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15

In [467]:
display(df.info())  # Get a summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 47906 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         47906 non-null  int32
 1   model_year    47906 non-null  int64
 2   model         47906 non-null  object
 3   condition     47906 non-null  object
 4   cylinders     43009 non-null  float64
 5   fuel          47906 non-null  object
 6   odometer      40563 non-null  float64
 7   transmission  47906 non-null  object
 8   type          47906 non-null  object
 9   paint_color   39291 non-null  object
 10  is_4wd        47906 non-null  float64
 11  date_posted   47906 non-null  object
 12  days_listed   47906 non-null  int64
dtypes: float64(3), int32(1), int64(2), object(7)
memory usage: 4.9+ MB

None

In [468]:
display(df.describe())  # Get descriptive statistics

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,47906.000000,47906.000000,43009.000000,40563.000000,47906.000000,47906.000000
mean,12160.465203,2009.750470,6.126276,115425.444099,0.496055,39.564835
std,10082.453773,6.282065,1.659540,65219.802462,0.499990,28.201967
min,1.000000,1908.000000,3.000000,0.000000,0.000000,0.000000
25%,5000.000000,2006.000000,4.000000,70000.000000,0.000000,19.000000
50%,9000.000000,2011.000000,6.000000,113000.000000,0.000000,33.000000
75%,16900.000000,2014.000000,8.000000,155000.000000,1.000000,53.000000
max,375000.000000,2019.000000,12.000000,990000.000000,1.000000,271.000000

Now that the data is cleaned up, I will make charts and plot the data. The first plot I will make it a scatter plot displaying the odometer's mileage versus the price of the car:

In [469]:
# Create a scatter plot
fig = px.scatter(
    df,
    x='odometer',  # X-axis
    y='price',     # Y-axis
    color='model_year',  # Optional: color by model year
    title='Price vs Odometer',
    labels={'odometer': 'Odometer (miles)', 'price': 'Price ($)'},
)

# Update layout
fig.update_layout(title_text='Price vs Odometer Scatter Plot')

# Show the plot in Streamlit
st.plotly_chart(fig)

DeltaGenerator()

After looking at the price and odometer, I see there is a strong negative correlation. This makes me wonder how much the year of the vehicle also makes a factor in the price, not just the mileage of the car. I will not make a histogram to help show the odometer, model year, and price to see if there is a correlation.

In [470]:
#Histogram example with checkbox:

# Title of the app
st.title("Vehicle Data Histogram")

# Load the DataFrame from the CSV file
df = pd.read_csv('vehicles_us.csv')  # Ensure the correct path to your CSV file

# Display the DataFrame
st.write("Here is the DataFrame:")
st.dataframe(df)

# Checkbox options for selecting columns
show_price = st.checkbox('Show Price Histogram', value=True)
show_odometer = st.checkbox('Show Odometer Histogram', value=True)
show_model_year = st.checkbox('Show Model Year Histogram', value=True)

# Create histograms based on selected checkboxes
if show_price:
    fig_price = px.histogram(df, x='price', nbins=30, title='Price Histogram', color_discrete_sequence=['blue'])
    st.plotly_chart(fig_price, use_container_width=True)

if show_odometer:
    fig_odometer = px.histogram(df, x='odometer', nbins=30, title='Odometer Histogram', color_discrete_sequence=['orange'])
    st.plotly_chart(fig_odometer, use_container_width=True)

if show_model_year:
    fig_model_year = px.histogram(df, x='model_year', nbins=30, title='Model Year Histogram', color_discrete_sequence=['green'])
    st.plotly_chart(fig_model_year, use_container_width=True)

There is a strong correlation between the year, mileage and price. We can see that they are both major factors in the cars value. This makes me wonder just how much the manufacture label changes the price of a vehicle. We know that each type of car changes the price. Typically the bigger the vehicle the more the price (with the exception of sports cars). So what would happen if I seperated out the vehicles by manufaturer and type? Because of the factors I am seperating the information into, I am going to use a graph that lays over one another to show how manufacture changes the price for each type of car.

In [471]:

# Title of the app
st.title("Vehicle Types by Manufacturer")

# Check the columns in the DataFrame
st.write("DataFrame Columns:", df.columns)

# Dropdown for selecting vehicle types (using 'type' instead of 'vehicle_type')
vehicle_types = df['type'].unique()  # Assuming 'type' is the correct column
selected_type = st.selectbox('Select Vehicle Type', vehicle_types)

# Filter the DataFrame based on the selected vehicle type
filtered_df = df[df['type'] == selected_type]

# Create a scatter plot using Plotly Express
fig = px.scatter(
    filtered_df,
    x='model_year',
    y='price',
    color='model',  # Different colors for different manufacturers/models
    hover_name='model',  # Hover text
    title=f'Price of {selected_type} by Manufacturer',
    labels={'model_year': 'Model Year', 'price': 'Price'},
)

# Update layout if needed (e.g., adjusting axes titles)
fig.update_layout(
    xaxis_title='Model Year',
    yaxis_title='Price',
)

# Display the figure in Streamlit
st.plotly_chart(fig, use_container_width=True)

DeltaGenerator()

This shows that the luxury vehicle brands do typically cost more, but specific brands like Jeep and Toyota hold their value much longer than the median vehicle. Overall, we can see that price is strongly affected by the mileage, model year, manufacture, and type of vehicle. I explored the data, refined it, and used it to create a live web application that includes charts and graphs for a visual representation of the car advertisements dataframe.