In [139]:
import streamlit as st
import pandas as pd
import plotly.express as px
import altair as alt

Had some trouble louding the data, so I found the current working directory to find the files location.

In [140]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: c:\Users\sfcce\python Projects\Car-Advertisement\notebooks

In [141]:
# Step 1: Load the Data
df = pd.read_csv('vehicles_us.csv')

In [142]:
# Step 2: Explore the Data
print(df.head())  # Preview the first few rows

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [143]:
print(df.info())  # Get a summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

In [144]:
print(df.describe())  # Get descriptive statistics

               price    model_year     cylinders       odometer   is_4wd  \
count   51525.000000  47906.000000  46265.000000   43633.000000  25572.0
mean    12132.464920   2009.750470      6.125235  115553.461738      1.0
std     10040.803015      6.282065      1.660360   65094.611341      0.0
min         1.000000   1908.000000      3.000000       0.000000      1.0
25%      5000.000000   2006.000000      4.000000   70000.000000      1.0
50%      9000.000000   2011.000000      6.000000  113000.000000      1.0
75%     16839.000000   2014.000000      8.000000  155000.000000      1.0
max    375000.000000   2019.000000     12.000000  990000.000000      1.0

       days_listed
count  51525.00000
mean      39.55476
std       28.20427
min        0.00000
25%       19.00000
50%       33.00000
75%       53.00000
max      271.00000

In [145]:
# Step 3: Handle Missing Values
print(df.isnull().sum())  # Check for missing values
# Fill missing values with the median (for days_listed)
df['odometer'] = df['odometer'].fillna(df['odometer'].median())
#Fill missing values with 0 to symbolize 2wd
df['is_4wd'] = df['is_4wd'].fillna(0)
#Drop rows with missing model_year
df = df.dropna(subset=['model_year'])

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [146]:
# Step 4: Remove Duplicates
df.drop_duplicates(inplace=True)

In [147]:
# Step 5: Standardize Column Names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [148]:
# Step 6: Convert Data Types
# Example: Convert a column to integar
df['model_year'] = df['model_year'].astype('int64')
df['days_listed'] = df['days_listed'].astype('int64')

In [149]:
#check to see Data Types are correct
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 47906 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         47906 non-null  int64
 1   model_year    47906 non-null  int64
 2   model         47906 non-null  object
 3   condition     47906 non-null  object
 4   cylinders     43009 non-null  float64
 5   fuel          47906 non-null  object
 6   odometer      47906 non-null  float64
 7   transmission  47906 non-null  object
 8   type          47906 non-null  object
 9   paint_color   39291 non-null  object
 10  is_4wd        47906 non-null  float64
 11  date_posted   47906 non-null  object
 12  days_listed   47906 non-null  int64
dtypes: float64(3), int64(3), object(7)
memory usage: 5.1+ MB
None

In [150]:
print(df.describe())

               price    model_year     cylinders       odometer        is_4wd  \
count   47906.000000  47906.000000  43009.000000   47906.000000  47906.000000
mean    12160.465203   2009.750470      6.126276  115053.673632      0.496055
std     10082.453773      6.282065      1.659540   60019.830639      0.499990
min         1.000000   1908.000000      3.000000       0.000000      0.000000
25%      5000.000000   2006.000000      4.000000   79000.000000      0.000000
50%      9000.000000   2011.000000      6.000000  113000.000000      0.000000
75%     16900.000000   2014.000000      8.000000  146327.000000      1.000000
max    375000.000000   2019.000000     12.000000  990000.000000      1.000000

        days_listed
count  47906.000000
mean      39.564835
std       28.201967
min        0.000000
25%       19.000000
50%       33.000000
75%       53.000000
max      271.000000

Typically for step 7, I would look to delete outliers here but with this dataframe I feel it is not necessary since each category seems to fall in line with the norm.

In [152]:
Here for step 8, I looked for any irrelevant columns to drop. 
Upon review and knowing there is further research to dive in to, 
I did not see any columns that will hender the research 
and do not want to drop any in case it proves handy during the charting and graphing section.

In [154]:
# Step 9: Save the Cleaned Data
df.to_csv('cleaned_vehicles_us.csv', index=False)

Review data to make sure it is clean and ready to use.

In [155]:
# Step 10: Review Final Product to Ensure Data is Clean and Ready for Translation
print(df.head())  # Preview the first few rows

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400        2011          bmw x5       good        6.0  gas  145000.0
2   5500        2013  hyundai sonata   like new        4.0  gas  110000.0
3   1500        2003      ford f-150       fair        8.0  gas  113000.0
4  14900        2017    chrysler 200  excellent        4.0  gas   80903.0
5  14990        2014    chrysler 300  excellent        6.0  gas   57954.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
2    automatic   sedan         red     0.0  2019-02-07           79
3    automatic  pickup         NaN     0.0  2019-03-22            9
4    automatic   sedan       black     0.0  2019-04-02           28
5    automatic   sedan       black     1.0  2018-06-20           15

In [156]:
print(df.info())  # Get a summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 47906 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         47906 non-null  int64
 1   model_year    47906 non-null  int64
 2   model         47906 non-null  object
 3   condition     47906 non-null  object
 4   cylinders     43009 non-null  float64
 5   fuel          47906 non-null  object
 6   odometer      47906 non-null  float64
 7   transmission  47906 non-null  object
 8   type          47906 non-null  object
 9   paint_color   39291 non-null  object
 10  is_4wd        47906 non-null  float64
 11  date_posted   47906 non-null  object
 12  days_listed   47906 non-null  int64
dtypes: float64(3), int64(3), object(7)
memory usage: 5.1+ MB
None

In [157]:
print(df.describe())  # Get descriptive statistics

               price    model_year     cylinders       odometer        is_4wd  \
count   47906.000000  47906.000000  43009.000000   47906.000000  47906.000000
mean    12160.465203   2009.750470      6.126276  115053.673632      0.496055
std     10082.453773      6.282065      1.659540   60019.830639      0.499990
min         1.000000   1908.000000      3.000000       0.000000      0.000000
25%      5000.000000   2006.000000      4.000000   79000.000000      0.000000
50%      9000.000000   2011.000000      6.000000  113000.000000      0.000000
75%     16900.000000   2014.000000      8.000000  146327.000000      1.000000
max    375000.000000   2019.000000     12.000000  990000.000000      1.000000

        days_listed
count  47906.000000
mean      39.564835
std       28.201967
min        0.000000
25%       19.000000
50%       33.000000
75%       53.000000
max      271.000000

Now that the data is cleaned up, I will make charts and plot the data.

In [158]:
fig = px.scatter(...)
fig.update_layout(title_text='..')
fig.show()

ValueError: DataFrame constructor not properly called!

In [160]:
# Create a scatter plot
fig = px.scatter(
    df,
    x='odometer',  # X-axis
    y='price',     # Y-axis
    color='model_year',  # Optional: color by model year
    title='Price vs Odometer',
    labels={'odometer': 'Odometer (miles)', 'price': 'Price ($)'},
)

# Update layout
fig.update_layout(title_text='Price vs Odometer Scatter Plot')

# Show the plot
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed